.container {
  width: 100vw;
  padding-block: 5rem;
  background-color: var(--background-contrast);
}
.contentCont {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.col {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.col a {
  color: var(--text-main);
  font-size: var(--font-size-sm);
}
.str {
  font-family: var(--font-poppins) !important;
  font-size: var(--font-size-base) !important;
}
.button {
  font-size: var(--font-size-sm);
}
